* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}
.header-container {
   width: 100vw;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;  
   border: .3rem black solid;
   background-color: antiquewhite;

  
}
.imagen {
    border:0.1rem black solid;
    border-radius: 0.4rem;
    padding: 0.8rem;
    margin: 1.6rem;
  }

.menu-nav {
      font-size: 1.6rem;
      color: blueviolet;   
      padding: auto;
      display: flex;
      padding: 2rem;
         
}

.menu-nav li {
    list-style: none;  
    font-size: 2rem;
    display: inline-block;
    }

.menu-nav li::after {content:"  |  ";}

.menu-nav li a {
    padding: 1.5rem;
    
}
.container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    background-color: blanchedalmond;
    width: 100vw;
    height: auto;      

}

.box1 {
    border: 0.2rem solid black;
    padding: 2rem;
    margin: 2rem; 
    width: 30rem;
    height: 26rem;  
      
}

.box2 {
    border: 0.2rem solid black;
    padding: 1rem;
    margin: 2rem;
    width: 30rem;
    height: 26rem;

    }

.box3 {
    border: 0.2rem solid black;
    padding: 2rem;
    margin: 2rem;
    width: 30rem;
    height: 26rem;

   }

.box4 {
    border: 0.2rem solid black;
    padding: 2rem;
    margin: 2rem;
    width: 30rem;
    height: 26rem;

}

.footer {
    font-size: 2rem;
    width: 100vw;
    height: auto;
    padding: 2rem;
    background-color: brown;
    min-height: 150px;
    text-align: center;        
}