* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.parent {
    height: 100vh;
    width: 80vw;
    margin: auto;

    /* border: 2px black dotted; */
    
    position: relative;    
}

.box1 {      
    width: 38rem;
    height: 18rem;
    top: 2rem;
    font-size: 3rem;
    position: relative;
    z-index: 0;
}

.box2 {
    background-color: green;
    position: absolute; 
    left: 45rem;
    top: 0rem;
    width: 18rem;
    height: 18rem;
    font-size: 3rem; 
}

/* .box3 {

    background-color: aqua;
    position: absolute;
    top: 20rem;
    width: 18rem;
    height: 18rem;
    font-size: 3rem;
} */

.box4 {
   
    position: absolute;
    top: 22rem;
    /* left: 20rem; */
    width: 65rem;
    height: 18rem;
    font-size: 6rem;
    text-align: center;
    padding: 4rem;
    
}