
* {padding: 0;
   margin: 0;
   box-sizing: border-box;
   
}

#main-h1 { 

    background-color: grey;
    padding: 20px;
    border: 15px solid black;  
    color: red;
    font-size: 40px;           
} 
#img-figure { border-radius: 20%;
              border: 5px solid black;    
              margin: 10px;

}

img { 
    max-width: 300px; max-height: 300px;}

video {max-width: 500px; max-height: 500px; }

.listado { list-style: none;
           background-color: rgb(183, 250, 166);  

}
 


#nav-ol li {
    display: inline-block;
}
 


.titulo2 {
    border-radius: 15px;
    color: red;
    border: 5px solid black;
    padding: 15px;
    background-color: gray;
    font-size: 40px;
    }

 
    
.tit3 {color: gray;
       font-size: 20px;  }

 .tit4 {border: 5px solid black;
        background-color: burlywood;
        padding: 5px;
        font-size: 25px;
        
 }      

       