<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="robots" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <head>
        <nav class="nav-menu">
            <div class="jujuy">
                <span>JUJUY</span>
            </div>
            <ul>
                <li class="menu-li"><a href="https://www.argentinaturismo.com.ar/jujuy/localidades.php">Ciudades</a></li>
                <li class="menu-li"><a href="https://argentinaxplora.com/destinos/jujuy/mapa-provincia-jujuy.htm">Rutas</a></li>
                <li class="menu-li"><a href="https://www.tripadvisor.com.ar/Hotels-g312814-c3-zff29-Province_of_Jujuy_Northern_Argentina-Hotels.html">Camping</a></li>
                <li class="menu-li"><a href="https://www.booking.com/region/ar/jujuy.es-ar.html">Alojamientos</a></li>
            </ul>
        </nav>
    </head>
    <main>
     <div class="menu-visit">
        <h3>Visite</h3>
        <ul>
          <li class="visit-Til">Tilcara</li>
          <li class="visit-Qui">La Quiaca</li>
          <li class="visit-Pur">Purmamarca</li>
          <li class="visit-Sal">Las Salinas</li>
        </ul>
     </div>
     <div class="content">
        <h2>Reseña</h2>
        <p>Historia
            Época colonial
            
            Vista de Jujuy a fines del s. XIX. Resalta nítidamente la torre del Campanario de la Capilla de Santa Bárbara.
            En el siglo xv, el actual territorio de Jujuy estaba poblado por diversos pueblos indígenas. Predominaban los ocloyas, Quechuas, Aimaras y los jujuyes, de quienes deriva el nombre de la provincia, aunque los atacameños -en especial la parcialidad lipe- eran predominantes en la región puneña. Los omaguacas eran una síntesis étnica de calchaquíes y atacameños con un fuerte componente genético arawak. La tenaz resistencia de estas poblaciones dificultó primero el avance de los incas y luego el avance español, hacia 1470 el territorio fue invadido por los quechuas procedentes del sur de Perú aliados con los aimaras procedentes del norte del territorio que hoy pertenece a Perú. En 1536 Diego de Almagro recorrió la Puna jujeña. El 20 de agosto de 1561 Juan Pérez de Zurita fundó una ciudad con el nombre de Nieva en el actual territorio jujeño entre los ríos Grande y Xibi-Xibi, pero a mediados de 1563 fue destruida por los indígenas.
            
            
            Pucará de Tilcara es una fortaleza construida por los tilcaras, parcialidad de los omaguacas, ubicada en la Quebrada de Humahuaca, en la cima de los cerros para poder defenderse de eventuales ataques. Con 900 años de antigüedad, es una de las más importantes ruinas en la región, y abarca barrios de viviendas, corrales, una necrópolis y lugares ceremoniales.
            En 1563, el rey Felipe II de España expidió una Real Cédula determinando los límites jurisdiccionales de la Real Audiencia de Charcas dentro del Virreinato del Perú, incluyendo dentro de ellos a la Gobernación del Tucumán. De este modo se la separó de Chile, separación que se completó en 1564 con el nombramiento de un gobernador para la «Provincia del Tucumán, Diaguitas y Juríes», con residencia en Santiago del Estero. El actual territorio jujeño quedó incluido en la nueva gobernación.
            
            El encomendero de Omaguaca Pedro Ortiz de Zárate fundó San Francisco de la Nueva Provincia de Álava, el 13 de octubre de 1575 en la zona llamada Punta de Diamante por la cercana unión de los ríos que franquean la ciudad (el Grande de Jujuy y el Xibi Xibi), pero a principio de 1576 fue destruida nuevamente.
            
            La resistencia de los omahuaca u omaguacas estuvo comprendida con la de los diaguitas de modo que en la llamada Guerra Calchaquí participaban los pueblos aborígenes de Jujuy destacándose en ellos los jefes Kipildor (Quipildor) y Viltipoco, fue precisamente en esta provincia que los españoles cerraron el cerco a los «calchaquíes» al ser fundado el 19 de abril de 1593, en el lugar donde está emplazada actualmente la plaza Belgrano, siendo un lunes de Pascua de Resurrección y bajo la invocación del Salvador, Francisco de Argañarás y Murguía dejó establecida la fundación de la ciudad de San Salvador de Velasco en el valle de Jujuy donde quedó definitivamente asentada.11​
            
            
            Otra perspectiva de las ruinas del Pucará de Tilcara
            A lo largo del siglo xvii la población asentada en la ciudad, pueblos, estancias, haciendas y chacras fue creciendo lentamente. Según el primer censo (1779) había 14 694 personas. De ellas el 14 % vivía en la ciudad donde españoles, negros, mulatos y mestizos eran mayoría, mientras que en el área rural predominaban los indígenas. Los esclavos negros provenían de Buenos Aires y se los destinaba a tareas domésticas o artesanales. Sus uniones con indígenas o españoles (mestizaje) dieron lugar a las castas afromestizas: mulatos, zambos.12​
            
            La región formó parte del Virreinato del Perú hasta 1776, en que la corona española creó el Virreinato del Río de la Plata. Al subdividirse administrativamente el Virreinato del Río de la Plata, conforme a la Real Ordenanza de Intendentes del 28 de enero de 1782, la actual Provincia de Jujuy quedó ubicada dentro de la Gobernación Intendencia de San Miguel de Tucumán. Un año y medio después, la Real Cédula del 5 de agosto de 1783, suprimió la Gobernación Intendencia del Tucumán, con lo cual Jujuy junto con Catamarca, Santiago del Estero, Salta, Tucumán y la Puna de Atacama, pasó a integrar la nueva Gobernación Intendencia de Salta del Tucumán, con sede gubernativa en la ciudad de Salta.</p>

     </div>

    </main>

    <footer>
     <div class="footer">   
     <span>Buscanos en Instagram jujuy@jujuy</span>
     <br><br>
     <span>Buscanos en Facebook jujuy@jujuy</span>
     </div>
    </footer>
</body>
</html>