html {
    font-size: 62.5%;
    background-color: beige;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container-head {
    display: flex;
    flex-wrap: wrap;
    height: 20vh;
    width: 100vw;
    justify-content: space-between;
    border-bottom: 0.2rem black solid;

}

.h1-head {
    font-size: 5rem;
    font-family: 'Shadows Into Light', cursive;
    color: brown; 
    margin: auto;   
}
ul {
    flex-direction: row;
    flex-wrap: wrap;
}

.nav {
   display: flex;
   flex-wrap: wrap;
   margin: 1rem;
   align-items: center;
   padding-left: 2rem;
   padding-right: 2rem;
        
}


.nav li {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    list-style: none;
    font-size: 1.8rem;
    display: inline-block;
    padding-left: 2.5rem;
    height: 3.5rem;
    width: auto;   
    /* border: 0.2rem black solid; */
   
  }

.container-main {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 70vh;
    justify-content: center;
    font-size: 1.5rem;
}
.box1 {
    width: 30rem;
    height: 40rem;
    background-color: white;

}